---
const personalImageAlt = "Victor Gonzalez";
---

<article
  class="flex flex-col items-center gap-8 text-gray-800 dark:text-gray-300 md:flex-row m-5"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 text-bold dark:[&>p>strong]:text-yellow-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hi there! I'm a dedicated Software Engineer with over 5 years of
      experience. I started coding in high school and deepened my skills through
      a two-year
      <strong>Web development</strong> course. This path led me to Ireland, where
      I completed a degree in <strong>Computer Science</strong>, paving the way
      for a variety of opportunities in Software Engineering.
    </p>

    <p>
      At present, I work as a <strong>Frontend Engineer</strong> at a <strong
        >Cybersecurity company</strong
      >, specialising in creating user-friendly interfaces and data
      visualisations to enhance security solutions. With over four years of
      experience in <strong>JavaScript, TypeScript, and React</strong>, I excel
      in designing and implementing complex UI components.
    </p>

    <p>
      Beyond work, I'm passionate about continuous learning and growth, actively
      seeking new challenges to expand my skills in evolving technologies. My
      goal is to continue to contribute meaningfully to Software Engineering in
      a collaborative and innovative environment.
    </p>
  </div>

  <img
    width="1500"
    height="150"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
